atomicwrites==1.1.5
attrs==18.1.0
bleach==3.1.4
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.1
docutils==0.14
idna==2.8
mock==3.0.5
more-itertools==4.2.0
numpy==1.14.3
pbr==4.0.3
pkginfo==1.5.0.1
pluggy==0.6.0
py==1.5.3
Pygments==2.4.2
pytest==3.6.0
pytest-cov==2.5.1
pytest-cover==3.0.0
pytest-coverage==0.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
tqdm==4.32.2
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
